<nav class='navbar navbar-expand-lg bg-light'>
	<div class='container-fluid'>
		<button
			class='navbar-toggler'
			type='button'
			data-bs-toggle='collapse'
			data-bs-target='#navbarNav'
			aria-controls='navbarNav'
			aria-expanded='false'
			aria-label='Toggle navigation'
		>
			<span class='navbar-toggler-icon'></span>
		</button>
		<div class='collapse navbar-collapse d-flex justify-content-between' id='navbarNav'>
			<h1 class='fs-5 col-3'>ECOMMERCE BACKEND</h1>
			<div class='row col-4'><ul class='navbar-nav justify-content-evenly'>

					{{#if username}}<li class='nav-item'>
							<a class='nav-link active' aria-current='page' href='/api'>Home</a>
						</li>{{else}}
						<li class='nav-item'>
							<a class='nav-link' href='/api/users/login'>Log in</a>
						</li>
						<li class='nav-item'>
							<a class='nav-link' href='/api/users/signup'>Sign up</a>
						</li>
					{{/if}}

				</ul></div>
			{{#if username}}
				<div class='nav-item nav-link text-end pe-3 col-4'>Bienvenido {{username}}</div>
				<div class='col-1'>
					<a
						class='h-100 py-2 px-2 d-flex justify-content-center align-items-center btn btn-danger btn-sm'
						href='/api/users/logout'
					>Logout</a>
				</div>
			{{else}}
			{{/if}}
		</div>
	</div>
</nav>