<div class='card'>
	<div class='card-body'>
		<table class='table'>
			<thead>
				<tr>
					<th scope='col'>ID</th>
					<th scope='col'>Username</th>
					<th scope='col'>Email</th>
				</tr>
			</thead>
			<tbody>
				{{#each users}}
					<tr>
						<td>{{this._id}}</td>
						<td>{{this.name}} {{this.lastname}}</td>
						<td>{{this.email}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>